html, body {
    margin: 0;
    background-color: #efefef;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav {
    background-color: #6e587e;
    color: white;
    height: 60px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand {
    float: left;
    height: 20px;
    padding: 20px 24px;
}
.navbar-nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 20px;
}
ul.nav > li > a {
    background-color: #563d69;
    padding: 20px 30px;
    font-size: 14px;
    height: 20px;
    display: inline-block;
}
button {
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 6px 12px;
    font-size: 14px;
    font-family: inherit;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
}
button + button {
    margin-left: 5px;
}
button[type="submit"] {
    color: white;
    background-color: #73618a;
    border-color: #68587d;
    &:hover {
        background-color: #613d69;
        border-color: #603f68;
    }
}
.container {
    width: 640px;
    margin: 50px auto 20px;
}
#toolbar {
    display: none;
    font-size: 12px;
}
.border-box {
    background: white;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
    height: 110px;
    padding-top: 90px;
    text-align: center;
    font-size: 15px;
}
#id-error, #not-available, #page-done, #page-fail {
    display: none;
}
.twitter-tweet-rendered {
    width: 640px !important;
}
#tweet-widget {
    margin-bottom: 24px;
}
#toolbar {
    text-align: right;
}
