$icon-font-path:"../fonts/";


@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/fontawesome/scss/font-awesome";


body {
    margin-top: 70px;
    margin-bottom: 55px;
    background: #efefef;
    /* Suppresses auto scaling in landscape mode of smartphones */
    -webkit-text-size-adjust: 100%;
    /* Turns off the new scrollbars behavior since IE 10 */
    -ms-overflow-style: scrollbar;
    &.standalone {
        margin-top:90px;
    }
}
a {
    color: #9662a4;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #774c80;
    text-decoration: underline;
}
a, a:focus, button {
    outline: none !important;
}
.form-control {
    border-color: #977eaf;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 4px;
}
.form-control:focus {
    border-color: #73618A;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159, 136, 188, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(159, 136, 188, 0.60);
}
.btn {
    border-radius: 4px;
}
.btn-violet {
    color: #fff;
    background-color: #73618A;
    border-color: #68587D;
}
.btn-violet:hover,
.btn-violet:focus,
.btn-violet.focus,
.btn-violet:active,
.btn-violet.active,
.open > .dropdown-toggle.btn-violet {
    color: #fff;
    background-color: #613d69;
    border-color: #603f68;
}
.progress-bar-violet {
    background-color: #603f68;
}
input::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
}
body.standalone #statusbar {
    height: 20px;
}
#nav-container {
    margin-bottom: 24px;
    width: 100%;
    top: 0;
    z-index: 5;
}
nav.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding-right: 28px;
}
nav.navbar-violet {
    background: #6e587e;
}
ul.nav>li>a {
    padding: 20px 30px;
    white-space: nowrap;
}
.navbar-label-icon {
    display: none;
    margin-top: -7px;
}
.navbar-nav > li >a, .dropdown-menu > li > a {
    transition: background-color .3s;
}
.navbar-violet .navbar-brand {
    height: 20px;
    padding: 20px 24px;
    color: white;
    cursor: pointer;
}
.navbar-violet .navbar-nav>li>a, .navbar-violet .dropdown-menu>li>a {
    color: white;
}
.navbar-violet .navbar-nav>.active>a, .navbar-violet .navbar-nav>.active>a:hover, .navbar-violet .navbar-nav>.active>a:focus {
    color: white;
    background-color: #563d69;
}
.navbar-violet .navbar-nav>li>a:hover, .navbar-violet .navbar-nav>li>a:focus, .navbar-violet .dropdown:hover>a, .navbar-violet .dropdown-menu>li>a:hover, .navbar-violet .dropdown-menu>li>a:focus, .navbar-violet .dropdown-menu>.active>a:hover, .navbar-violet .dropdown-menu>.active>a:focus {
    color: #fefefe;
    background-color: #5a446a;
}
.navbar-violet .dropdown-menu>.active>a {
    background-color: #6e587e;
}
.navbar-violet .dropdown-menu {
    background-color: #6e587e;
    border-color: #3f2751;
    padding: 0;
    min-width: 100%;
    border-radius: 0;
    margin-top: -14px;
    right: auto;
}
.navbar-violet .dropdown:hover .dropdown-menu {
    border-top: none;
    border-radius: 0;
}
.navbar-violet .dropdown-menu .divider {
    margin: 4px 0 4px 34px;
    background-color: #876e9f;
}
.navbar-violet .dropdown-menu>li>a {
    padding: 0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .dropdown:hover>a, .navbar-default .dropdown-menu>li>a:hover, .navbar-default .dropdown-menu>li>a:focus, .navbar-default .dropdown-menu>.active>a:hover, .navbar-default .dropdown-menu>.active>a:focus {
    background-color: #ececec;
}
.nav>li.nav-icon {
    display: none;
}
.navbar-violet .navbar-btn, .navbar-violet .btn-group .btn {
    margin: 13px 0;
    border-radius: 0;
}
.navbar-violet .btn {
    background: #3f2751;
    color: white;
    border-color: #3f2751 !important;
}
.navbar-violet .btn:hover {
    background: #593e6f;
}
.navbar-violet .btn:active, .navbar-violet .btn.active, .navbar-violet .btn-group.open .dropdown-toggle {
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
}
.navbar-violet .fa-caret-down {
    min-width: 8px;
    margin-left: 2px;
}
.navbar-violet .dropdown-menu label {
    font-weight: normal;
    padding: 10px 40px 10px 12px;
    margin-bottom: 0;
    cursor: pointer;
}
.navbar-toggle {
    margin-right: 0;
}
.navbar-collapse {
    padding-right: 15px;
}
.order-radio-box {
    display: none;
    & + a .glyphicon {
        width: 22px;
        visibility: hidden;
        padding-right: 8px;
    }
    &:checked + a .glyphicon {
        visibility: visible;
    }
}
.modal-content {
    border-radius: 4px;
}
#new-record-toggle-button + .popover {
    min-width: 300px;
    margin-top: -3px;
    border-radius: 0;
    border-color: rgba(235, 204, 209, 0.8);
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
    & > .arrow {
        border-bottom-color: rgba(235, 204, 209, 0.8);
    }
    & > .arrow:after {
        border-bottom-color: #f2dede;
    }
}
#unread-tweets {
    background: #eb4512;
    display: inline-block;
    padding: 0 11px;
    margin: 0 -14px 0 8px;
    border-radius: 8px;
    display: none;
}
#clear-search-filter {
    font-size: 12px;
    margin-left: -36px;
    width: 36px;
    position: relative;
    top: 5px;
    z-index: 2;
    border: none;
    background: none;
    color: #3f2751;
    &:hover {
        color: #593e6f;
    }
}
#loading-panel-container, #no-result-container {
    /* Force smartphones to enable its hardware acceleration */
    -webkit-transform: translateZ(0px);
    position: absolute;
    top: 45%;
    width: 100%;
}
#loading-error-panel, #no-result-container, #clear-search-filter, #tracker {
    display: none;
}
#loading-panel, #loading-error-panel {
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.7;
}
#loading-error-panel {
    max-width: 600px;
    font-size: 16px;
}
#loading-error-icon {
    font-size: 48px;
    margin: -8px -4px 0 0;
}
blockquote, .twitter-tweet-rendered {
    position: static !important;
    display: block !important;
    margin: 20px auto !important;
    width: 640px !important;
    min-height: 80px !important;
    max-width: 100% !important;
    background: white;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
}
blockquote {
    font: normal normal 14px/1.2 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    padding: 15px 20px 18px;
    text-align: center;
    a {
        -webkit-tap-highlight-color: initial;
    }
    hr {
        margin: 10px 0 15px;
    }
    div {
        text-align: left;
    }
    span a {
        /* Applies default style of Twitter embedded tweets */
        color: #697882;
    }
    img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border-radius: 3px;
    }
    p {
        font-size: 16px;
        margin: 9px 0 6px 0;
        word-break: break-all;
    }
    .tweet-date {
        font-size: 14px;
        margin-top: 0;
        a {
            color: #697882;
            text-decoration: none;
            &:hover {
                color: #927099;
            }
        }
    }
}
#search-form {
    margin-left: -8px;
    margin-bottom: 0;
    padding-right: 0px;
    .btn {
        border-radius: 0;
    }
    .btn-warning {
        background: #db8512;
    }
    .input-group {
        margin: 5px 0;
    }
    .popover {
        dl {
            margin-top: -6px;
            margin-bottom: 0;
        }
        dt {
            margin-top: 6px;
        }
        dd {
            margin-left: 1.8em;
        }
    }
}
#order-form {
    margin-left: 7px;
    margin-bottom: -6px;
}
#search-box {
    border: 1px solid #3f2751;
    padding-right: 28px;
}
#search-box, #search-form .popover {
    min-width: 250px;
    border-radius: 0;
}
#search-target-dropdown {
    right: auto;
}
#main-area {
    margin: auto;
}
#statistics-area {
    /* Force smartphones to enable its hardware acceleration */
    -webkit-transform: translateZ(0px);
    max-width: 860px;
    margin: 108px auto 0;
    background: white;
    padding: 0 12px 0 18px;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
}
#statistics-title {
    margin: 32px -74px 16px auto;
    font-size: 24pt;
}
#statistics-count {
    vertical-align: 6px;
}
#statistics-table-container {
    padding-left: 80px;
    margin: 30px auto 26px;
}
#statistics-filter-textbox {
    width: 100%;
    margin-bottom: 20px;
    border-color: #ccc;
    border-radius: 4px;
}
#statistics-filter-textbox:focus {
    border-color: #977eaf;
}
#statistics-table {
    /* Enables momentum scrolling in smartphones */
    -webkit-overflow-scrolling: touch;
    height: 400px;
    overflow-y: auto;
}
#statistics-chart {
    margin-top: 10px;
    width: 400px;
    height: 400px;
}
#statistics-chart svg>g {
    /* Change cursors of slices in the Google Pie Chart */
    cursor: pointer;
}
.statistics-table-header {
    padding: 0 0 0 8px;
    border-width: 0 0 0 16px;
    border-style: solid;
}
.statistics-table-header a {
    color: black;
    -webkit-tap-highlight-color: initial;
}
.statistics-table-header a:hover {
    color: #666;
}
#statistics-tab {
    padding: 0 12px;
}
.modal-body .url-input-area {
    label {
        color: #333;
    }
    .help-block {
        color: #737373;
    }
    &:not(:first-child) label {
        visibility: hidden;
    }
    & + .url-input-area {
        margin-top: -15px;
    }
}
#new-record-form {
    .form-control-feedback {
        display: none;
    }
    .has-success .glyphicon-ok, .has-error .glyphicon-remove, .has-warning .glyphicon-warning-sign {
        display: block;
    }
}
#help-modal {
    body.standalone & {
        margin-top: 20px;
    }
    .modal-body div {
        padding: 10px;
    }
    a {
        -webkit-tap-highlight-color: initial;
    }
    h2 {
        margin-top: 0;
        font-size: 24px;
    }
    h3 {
        padding: 0 12px;
        margin: 26px 18px -5px 4px;
        border: 0 solid #563d69;
        border-left-width: 1ex;
    }
    p {
        margin-top: 18px;
        padding: 0 4px;
        line-height: 1.8;
    }
}

@media (max-width: 1152px - 1) {
    ul.nav > li > a {
        padding: 20px;
    }
    .navbar-brand.navbar-label-icon {
        display: inline-block;
    }
    .navbar-brand.navbar-label-text {
        display: none;
    }
    #unread-tweets {
        margin: 0 -8px 0 6px;
    }
}
@media (max-width: 1024px - 1) {
    ul.nav > li > a {
        padding: 20px 24px;
    }
    .navbar-label-icon {
        display: inline-block;
    }
    .navbar-nav .navbar-label-icon {
        font-size: 20px;
        position: relative;
        top: 6px;
    }
    .navbar-label-text {
        display: none;
    }
    #statistics-area {
        margin-top: 88px;
    }
    #unread-tweets {
        position: relative;
        top: -8px;
        left: -12px;
        border-radius: 5px;
        padding: 0 6px;
        margin: 0 -18px 0 0;
    }
}
@media (max-width: 890px - 1) {
    #statistics-area {
        margin-top: 72px;
    }
}
@media (max-width: 768px - 1) {
    body {
        margin-top: 50px;
        margin-bottom: 12px;
    }
    nav.navbar {
        min-height: 44px;
        height: 44px;
        padding-right: 0;
        body.standalone & {
            min-height: 44 + 20px;
        }
    }
    .navbar-nav {
        margin: 0;
    }
    ul.nav > li > a {
        padding: 12px 18px;
    }
    .navbar-nav .navbar-label-icon {
        font-size: 16px;
        top: 3px;
    }
    #unread-tweets {
        color: transparent;
        width: 12px;
        height: 12px;
        font-size: 0;
        top: -7px;
        left: -9px;
        border-radius: 6px;
    }
    .navbar-label-icon.fa {
        margin-top: -6px;
        margin-bottom: -1px;
    }
    .navbar-right {
        float: right;
        margin-top: -44px;
    }
    .navbar-right.btn-group {
        .btn {
            margin: 0;
            padding: 12px;
            background: transparent;
            border: none;
            transition: background-color .3s;
        }
        & .btn:hover, &.open .btn {
            background: #563d69;
        }
    }
    .navbar-right .dropdown-menu {
        margin-top: 0;
        border: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        left: auto;
        right: 0;
    }
    .nav > li {
        display: inline-block;
        float: left;
    }
    #search-form {
        position: absolute;
        background: #563d69;
        border: none;
        margin: 0;
        padding: 2px 6px 1px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    #search-box {
        min-width: 0;
    }
    #search-form-toggle-button.active {
        background: #563d69;
    }
    #loading-panel {
        padding: 0 20px;
    }
    #loading-error-panel {
        font-size: 12px;
        text-align: center;
    }
    #loading-error-icon {
        text-align: center;
    }
    #main-area {
        margin-top: -16px;
        padding: 10px 12px;
        .main-search-active & {
            margin-top: 81px;
        }
        body.standalone & {
            margin-top: -36px;
        }
        body.standalone .main-search-active & {
            margin-top: 101px;
        }
    }
    blockquote, .twitter-tweet-rendered {
        margin: 12px auto !important;
    }
    .navbar-violet .navbar-brand {
        padding: 20px 16px 20px 18px;
        margin-top: -14px;
    }
    blockquote {
        font-size: 12px;
        p {
            font-size: 16px;
        }
        span a {
            font-size: 12px;
        }
    }
    #statistics-tab {
        padding: 0 12px;
    }
    #statistics-area {
        padding: 0 18px;
        max-width: 100%;
        margin-top: 56px;
        .main-search-active & {
            margin-top: 103px;
        }
        body.standalone & {
            margin-top: -14px;
        }
        body.standalone .main-search-active & {
            margin-top: 123px;
        }
    }
    #statistics-area div:first-child {
        padding: 0;
    }
    #statistics-chart {
        width: 100%;
        height: auto;
        & > div {
            margin: 0 auto;
        }
    }
    #statistics-title {
        margin: 16px 0;
        font-size: 28px;
    }
    #statistics-table-container {
        padding: 0;
        width: 100%;
        margin-bottom: 18px;
    }
    #statistics-table {
        height: auto;
    }
    #help-modal h2 {
        font-size: 18px;
    }
}
@media (max-width: 382px) {
    ul.nav > li > a {
        padding: 12px 13px;
    }
    #statistics-title {
        font-size: 22px;
    }
}
@media (max-width: 373px) {
    blockquote {
        font-size: 11px;
        p {
            font-size: 14px;
            &.tweet-date {
                font-size: 12.25px;
            }
        }
    }
}
@media (max-width: 320px) {
    .navbar-violet .navbar-brand {
        padding: 20px 12px 20px 14px;
    }
}
